.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2.5rem 0;

}

.feature__content {
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature__image {
    max-width: 100%;
    height: auto;
    display: block;
}

.feature__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #23272A;
}

.feature__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #23272A;
}

.feature--technology {
    flex-direction: column;
}

.feature--technology .feature__text {
    max-width: 802px;
    text-align: center;
}

.feature--technology .feature__subtitle {
    font-family: 'luckiest Guy', sans-serif;
    max-width: 608px;
    text-align: center;
}

@media (max-width: 430px) {
    .feature {
        padding: 2.5rem 1.5rem;
        gap: 1.75rem;
    }

    .feature__subtitle {
        font-size: 1.5rem;
    }

    .feature--technology .feature__subtitle {
        text-align: start;
    }

    .feature--technology .feature__text {
    text-align: start;
    }
}