.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 134px;
    padding: 35px 0px 36px 0px;
    text-align: center;
    background-color: #23272A;
}

.footer img {
    max-width: 230px;
    max-height: 63px;
    flex-shrink: 0;
}


