.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 134px;
    padding: 35px 0px 36px 0px;
    text-align: center;
    background-color: #23272A;
}

.footer__image {
    max-width: 100%;
    height: auto;
    display: block;
}


