.header {
    width: 100%;
    height: 459px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/assets/header-background-decorate.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__content {
    max-width: 757px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header__title {
    font-family: 'luckiest Guy', sans-serif;
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
    max-width: 313px;
    margin: auto;

}

.header__text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
}

.header__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #23272A;
    padding: 10px 24px;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    background-color: #FFFFFF;
    text-align: center;
}

.btn--navigation {
    background-color: #23272A;
    color: #FFFFFF;
}

@media (max-width: 780px) {
    .header {
        height: 505px;
    }

    .header__content {
        padding-inline: 2rem;
    }

    .header__title {
        font-size: 2.5rem;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .header__content {
     padding-inline: 1.5rem;
    }

    .header__title {
        margin: 0;
        font-size: 2rem;
        text-align: start;
    }

    .header__text {
        text-align: start;
    }
}
