@media screen and (max-width: 900px) {

    h1{
        width: 278px;
        font-size: 32px;
        text-align: left;
        align-self: flex-start;
    }


    p{
        text-align: left;
    }

    header .header-content{
        padding: 0px 24px;

    }
    header .header-button{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .button-left {
        width: 100%;
        height: 52px;
    }

    .button-right{
        width: 100%;
        height: 52px;
    }

    .first-content{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 24px;
        padding: 40px 24px;
    }

    .first-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    

    .first-text p {
        text-align: start;
        width: 320px;
        height: auto;
    }

    .first-image img {
    width: 100%;
    }

    .second-container{
        flex-direction: column-reverse;
        align-items: center;
        max-width: 100vw;
        padding: 40px 24px;
        gap: 27px;
    }

    .second-container-text  {
        width: 100%;
    }

    .second-container-text  {
        width: 100%;
    }
    
    .second-section h2 {
        width: 378px;
        height: auto;
        font-size: 24px;
    }

    .second-section p {
        width: 100%;
    }

    .second-container-image img{
        width: 100%;
    }

    .third-container{
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 40px 24px;
        gap: 27px;
    }

    .third-section h2 {
        width: 373px;
        height: auto;
        font-size: 24px;
    }

    .third-section img {
        width: 100%;
    }

    .third-text {
        width: 100%;
    }

    .founth-section h2 {
        width: 376px;
        height: auto;
        font-size: 32px;
    }

    .founth-section p {
        width: 378px;
        text-align: left;
    }

    .founth-section img{
        width: 379px;
        height: 252px;
    }

    footer img {
        height: 140px;
        padding: 44px 134px 51px 133px;
    }
}