.header {
    width: 100%;
    height: 459px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/headerbackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header__content {
    width: 757px;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.header__title {
    font-family: 'luckiest Guy', sans-serif;
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
    width: 313px;
}

.header__text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
}

.header__buttons{
    display: flex;
    gap: 1rem;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #23272A;
    padding: 10px 24px;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    background-color: #FFFFFF;
}

.btn--navigation {
    background-color: #23272A;
    color: #FFFFFF;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 0;

}

.feature__content {
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #23272A;
}

.feature__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #23272A;
}

.feature--technology {
    flex-direction: column;
}

.feature--technology .feature__text {
    max-width: 802px;
    text-align: center;
}

.feature--technology .feature__subtitle {
    font-family: 'luckiest Guy', sans-serif;
    max-width: 608px;
    text-align: center;
}

.first-image img {
    width: 607px;
    height: 394px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 134px;
    padding: 35px 0px 36px 0px;
    text-align: center;
    background-color: #23272A;
}

footer img {
    max-width: 230px;
    max-height: 63px;
    flex-shrink: 0;
}


