.header {
    width: 100%;
    height: 459px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/headerbackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header__content {
    width: 757px;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.header__text {
    text-align: center;
    color: #FFFFFF;
}

.header__buttons{
    display: flex;
    gap: 1rem;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #23272A;
    padding: 10px 24px;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
}

.btn--download {
    background-color: #FFFFFF;
}

.btn--navigation {
    background-color: #23272A;
    color: #FFFFFF;
}

.first-content{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: auto;
    padding: 40px;
}

.first-image img{
    max-width: 607px;
    max-height: 394px;
}

.first-text {
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.first-text h2{
    width: 100%;
    font-family: 'open sans';
    font-weight: 800;
    margin: 0px;
    font-size: 40px;
}

.first-text p{
    width: 100%;
    text-align: left;
    color: rgba(35, 39, 42, 1);
}


.second-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px 40px;

    gap: 3rem;
    background-color:rgba(246, 246, 246, 1);
}


.second-container-text{
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.second-container-text p{
    width: 100%;
    font-family: 'open sans';
    text-align: left;
    color: rgba(35, 39, 42, 1);
}

.second-container-text h2{
    width: 100%;
    font-family: 'open sans';
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
    color: #23272A;
}

.second-container-image img {
    width: 100%;
    height: auto;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 3rem;
}

.third-image img{
    width: 100%;
}

.third-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 351px;
}

.third-text h2 {
    font-family: 'open sans';
    font-size: 40px;
    font-weight: 800;
    color: #23272A;
}

.third-text p {
    text-align: left;
    font-family: 'open sans';
    color: #23272A;
}

.founth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 16px;
    margin: 0px;
    background-color: rgba(246, 246, 246, 1);
    grid-area: founth-section;
}

.founth-text-01 h2 {
    width: 608px;
    font-family: 'luckiest Guy';
    text-align: center;
    margin: 0px;
}

.founth-text-02 p {
    width: 802px;
    text-align: center;
    font-family: 'open Sans';
    margin: 0px;
    color: #23272A;
}

.founth-image img {
    max-width: 650px;
    max-height: 508px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 134px;
    padding: 35px 0px 36px 0px;
    text-align: center;
    background-color: #23272A;
}

footer img {
    max-width: 230px;
    max-height: 63px;
    flex-shrink: 0;
}


